{% include "overall_header.html" %}
<a id="maincontent"></a>

<h1>{{ lang('INACTIVE_USERS') }}</h1>

<p>{{ lang('IUM_INACTIVE_USERS_EXPLAIN') }}</p>

<form id="inactive" method="post" action="{U_ACTION}">


{% if pagination %}
<div class="pagination">
	{% include "pagination.html" %}
</div>
{% endif %}
<table class="table1 zebra-table">
<thead>
<tr>
	<th>{{ lang('USERNAME') }}</th>
	<th>{{ lang('JOINED') }}</th>
	<th>{{ lang('LAST_VISIT') }}</th>
	<th>{{ lang('INACTIVE_DATE') }}</th>
	<th>{{ lang('IUM_INACTIVE_REASON') }}</th>
	<th>{{ lang('LAST_SENT_REMINDER') }}</th>
	<th>{{ lang('COUNT') }}</th>
	<th>{{ lang('REMINDER_DATE') }}</th>
</tr>
</thead>
<tbody>
{% for info in inactive %}
	<tr>
		<td style="vertical-align: top;"><strong><a href="{info.LINK_TO_USER}" style="color :{% if info.IGNORE_USER == 1 %}#008000;{% elseif info.IGNORE_USER == 2 %}#DC143C;{% else %}#000000;{% endif %}">{info.USERNAME}</a></strong>
		{% if info.POSTS %}<br />{{ lang('POSTS') }}{{ lang('COLON') }}<strong>{info.POSTS}</strong>{% endif %}
		</td>
		<td style="vertical-align: top;">{info.JOINED}</td>
		<td style="vertical-align: top;">{info.LAST_VISIT}</td>
       	<td style="vertical-align: top;">{info.INACTIVE_DATE}</td>
		<td style="vertical-align: top;">{info.REASON}
			{% if inactive.REMINDED %}<br />{info.REMINDED_EXPLAIN}{% endif %}
		</td>
		<td style="vertical-align: top;">{info.LAST_SENT_REMINDER}</td>
		<td style="vertical-align: top;">{info.COUNT}</td>
		<td style="vertical-align: top;">{info.REMINDER_DATE}</td>
	</tr>
{% else %}
	<tr>
		<td colspan="6" style="text-align: center;">{{ lang('NO_INACTIVE_USERS') }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
<p style="text-align: center;">{TOTAL_USERS_WITH_DAY}</p>
<fieldset class="display-options">
	{{ lang('ACP_USERS_WITH_POSTS') }} <input class="checkbox" type="checkbox" name="with_posts" value="1" {% if WITH_POSTS %} checked {% endif %} /> &nbsp;
	{{ lang('COUNT_BACK') }}{{ lang('COLON') }} &nbsp; <select name="count_back" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">{S_INACTIVE_OPTIONS}</select> &nbsp;
	<select name="sort_by" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">{S_IUM_SORT_BY}</select> &nbsp;
	{{ lang('ACP_DESCENDING') }} <input class="checkbox" type="checkbox" name="sort_order" value="1" {% if SORT_ORDER %} checked {% endif %} /> &nbsp;
    {% if pagination %}&nbsp;{{ lang('USERS_PER_PAGE') }}{{ lang('COLON') }}
		<select name="users_per_page" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">
			<option value="20" {% if USERS_PER_PAGE === 20 %} selected="selected" {% endif %}>20</option>
			<option value="50" {% if USERS_PER_PAGE === 50 %} selected="selected" {% endif %}>50</option>
			<option value="100" {% if USERS_PER_PAGE === 100 %} selected="selected" {% endif %}>100</option>
			<option value="200" {% if USERS_PER_PAGE === 200 %} selected="selected" {% endif %}>200</option>
		</select>
		{% endif %}
	<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
</fieldset>

<hr />
{% if pagination %}
	<div class="pagination">
		{% include "pagination.html" %}
	</div>
{% endif %}
</form>

{% include "overall_footer.html" %}
